<p id="test">
  Home Works!
  </p>
  
  
  
  
  <p id="form" style="display:none">
  <b><span style="font-size: 20px">Make Podio Calls Here:</span></b><br><br>
    <button (click)="GetUser()">Get User</button>
   
  <br>
  <br>
  <button (click)="GetApps()">Get All Apps</button>
  
  <br>
  <br>
    <input id="itemIdBox" type="text"placeholder="Item ID...">
  <button (click)="GetItem()">Get Item</button>

  <br>
  <br>
    <input id="appIdBox" type="text"placeholder="App ID...">
  <button (click)="GetApp()">Get App</button>


</p>
<pre id="results"></pre>