Thanks <span id="userName"> </span> for being a Saasafras and Podio User!
<br><br>
It seems this is your first time here. Let's create a Solution!
<br>
<br>
<body id="admin">
First, let's give this solution a name:
<input id="solutionName" type="text"(keyup)="GenerateSolutionID()"(keydown)="GenerateSolutionID()">
<b>  Solution ID: </b> <span id="typing"></span>
<br><br>
Next, select which Organization your solution will come from:     
<select id="selectNumber">
          <option>Choose an Organization</option>
        </select>
        <button id="notAdminButton"style="display:none" (click)="GetWorkspaces()">Submit</button>
        <br><br>
        <p id="workspaces" style="display: none">
        Now select the workspaces you'd like to include (ctrl+click to select multiple)!
        <br>
        <select id="selectW" name="workspaces" multiple>
              </select>
              <br>
              <button id="saveBtn" (click)="SaveSolution()" class="buttonload">Save Solution</button>
            </p>
          </body>
      <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
      