Thanks <span id="userName"> </span> for being a Saasafras and Podio User!
<br><br>
It seems this is your first time here. Let's create a Solution!
<br>
<br>
<body id="admin">
First, let's give this solution a name:
<input id="solutionName" type="text"(keyup)="GenerateID()"(keydown)="GenerateID()">
<b>  Solution ID:</b> <span id="typing"></span>
<br><br>
Next, select which Organization your solution will come from:     
<select id="selectNumber">
          <option>Choose an Organization</option>
        </select>
        <button id="notAdminButton"style="display:none" (click)="GetWorkspaces()">Submit</button>
        <br><br>
        <p id="workspaces" style="display: none">
        Now select the workspaces you'd like to include (ctrl+click to select multiple)!
        <br>
        <select id="selectW" name="workspaces" multiple>
              </select>
              <br>
              <button id="saveBtn" (click)="SaveSolution()" class="buttonload">Save Solution</button>
            </p>
          </body>
        <!--
      
        <p id="form" style="display:none">
        <b><span style="font-size: 20px">Make Podio Calls Here:</span></b><br><br>
          <button (click)="GetUser()">Get User</button>
         
        <br>
        <br>
        <button (click)="GetApps()">Get All Apps</button>
        
        <br>
        <br>
        <button (click)="GetOrganizations()">Get All Orgs</button>
      
        <br>
        <br>
          <input id="itemIdBox" type="text"placeholder="Item ID...">
        <button (click)="GetItem()">Get Item</button>
      
        <br>
        <br>
          <input id="appIdBox" type="text"placeholder="App ID...">
        <button (click)="GetApp()">Get App</button>
      
      
      </p>
      <pre id="results"></pre>-->
      <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .buttonload {
          background-color: #4CAF50; /* Green background */
          border: none; /* Remove borders */
          color: white; /* White text */
          padding: 12px 24px; /* Some padding */
          font-size: 16px; /* Set a font-size */
        }
        
        /* Add a right margin to each icon */
        .fa {
          margin-left: -12px;
          margin-right: 8px;
        }
        </style>
        </head>
      