Thanks <span id="userName"> </span> for being a Saasafras and Podio User!
<br><br>
It seems this is your first time here. Let's create a Solution!
<br>
<br>
First select which Organization your solution will come from:
        
<select id="selectNumber">
          <option>Choose an Organization</option>
        </select>
        <button (click)="GetWorkspaces()">Submit</button>
        <br><br>
        <p id="workspaces" style="display: none">
        Now select the workspaces you'd like to include (ctrl+click to select multiple)!
        <br>
        <select id="selectW" name="workspaces" multiple>
              </select>
            </p>
        <!--
      
        <p id="form" style="display:none">
        <b><span style="font-size: 20px">Make Podio Calls Here:</span></b><br><br>
          <button (click)="GetUser()">Get User</button>
         
        <br>
        <br>
        <button (click)="GetApps()">Get All Apps</button>
        
        <br>
        <br>
        <button (click)="GetOrganizations()">Get All Orgs</button>
      
        <br>
        <br>
          <input id="itemIdBox" type="text"placeholder="Item ID...">
        <button (click)="GetItem()">Get Item</button>
      
        <br>
        <br>
          <input id="appIdBox" type="text"placeholder="App ID...">
        <button (click)="GetApp()">Get App</button>
      
      
      </p>
      <pre id="results"></pre>-->
      